<div class="sidebar-nav">
  <div id="shop_navbar" class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle glyphicon glyphicon-menu-down" data-toggle="collapse" data-target=".sidebar-navbar-collapse"></button>
	  <span class="visible-xs navbar-brand">SHOP</span>
	</div>
	<div class="navbar-collapse collapse sidebar-navbar-collapse">
	  <ul class="nav navbar-nav">
	  	<li class="active"><a href="/collections/new_in">NEW IN</a></li>
	  	<% for(var i = 0; i < category.length; i++) { %>
	  	  <% if(category[i].child_id != null) {%>
          	<hr>
          	<li>
          	  <a href="/collections/tags/<%= category[i].parents_id %>"><%= category[i].parents_name %></a>
		      <ul class="nav navbar-nav sub-nav">
		      	<% for(var j=0; j<category[i].child_id.length; j++) {%>
		        <li>
		          <a href="/collections/tags/<%= category[i].parents_id %>+<%= category[i].child_id[j] %>">
		          <%= category[i].child_name[j] %></a>
		        </li>
		        <% } %>
		      </ul>
		    </li>
		  <% }else{ %>
		  	<hr>
		  	<li>
		  	  <a href="/collections/tags/<%= category[i].parents_id %>"><%= category[i].parents_name %></a>
		  	</li>
        <% }} %>
	  </ul>
	</div>
  </div>
</div>	