<% for(var i=0; i<items.length; i++) { %>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 item_list">
	    <div class="hovereffect fade">
        <img class="img-responsive" src="/images/collections/<%= items[i].item_img %>" alt="">
 	      <div class="overlay">
     		  <a class="info" href="/collections/details/<%= items[i].id %>">
     		    <p class="item_name"><%= items[i].item_name %></p>
     		    <p class="item_price">NT$<%= items[i].price %></p>
     		  </a>
    	  </div>
      </div>
    <div class="item_name"><%= items[i].item_name %></div>
    <div class="item_price">NTD<%= items[i].price %></div>
  </div>
<% } %>