<%- navBar %>

<div id="shop_page" class="row-fluid">
  <div id="category_list_page" class="col-sm-2">
    <%- category %>
  </div>
  <div id="item_img_page" class="col-sm-6" >
    <div class="carousel slide article-slide carousel-fade" id="article-photo-carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner cont-slider">
        <% for(var i=0; i<item.item_img.length; i++) { %>
          <div <% if (i === 0) { %> class="item active" <% } else { %> class="item" <% } %> >
            <img alt="" title="" src="/images/collections/<%= item.item_img[i] %>" class="img-responsive">
          </div>
        <% } %>  
      </div>

      <!-- Indicators -->
      <div id="item_img_indicators">
        <ol class="carousel-indicators">
          <% for(var i=0; i<item.item_img.length; i++) { %>
              <li  <% if (i === 0) { %> class="active" <% } else { %> class="" <% } %> data-slide-to="<%= i %>" data-target="#article-photo-carousel">
                <img class="img-responsive" src="/images/collections/<%= item.item_img[i] %>" alt="">
              </li>
          <% } %> 
        </ol>
      </div>
    </div>
  </div>
  <div id="item_detail_page" value="<%= item.id %>" class="col-sm-4">
    <!--<div id="item_detail_category"><%= item.item_category %></div>-->
    <div id="item_detail_name"><%= item.item_name %></div>
    <div id="item_detail_price">NT$<%= item.price %></div>
    <div id="item_detail_description"><%= item.item_description %></div>
    <hr>
    
    <div id="item_detail_quantity" value="<%= item.inventory_level %>">數量
      <div class="input-group">
        <span class="input-group-addon">−</span>
        <input type="text" class="form-control" value="1">
        <span class="input-group-addon">＋</span>
      </div>
    </div>
    <button class="btn" id="item_add_to_bag" value="<%= item.id %>">加入購物車</button>

  </div>
</div>